<div class="container_big-card">
    <div class="big-card_photo">
        <img 
        src="https://cdn.marvel.com/content/1x/ironman_lob_mas_hlf_02_0.jpg" 
        alt=""
        height="200px"
              
        srcset=""
        >
    </div>
    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
    </div>
    <div class="big-card-description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus mattis condimentum. Morbi molestie leo quis erat venenatis, ac consequat neque condimentum. Aliquam diam ipsum, dapibus a ipsum id, molestie ultricies metus. Integer sollicitudin felis in lorem auctor mattis. </a></p>
    </div>
</div>
