.container_small-card {
    margin-bottom: 15px; 
    width: 700px; 
}

.container_small-card-content {
    display: flex;
    flex-direction: row;
}


.container_small-card-separator {
    margin-top: 10px;
}

.small-card_photo > img {
    width: 200px;
    min-width: 200px;
}

.small-card_title {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
